* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  min-height: 100vh;
  background: url('download.jfif') no-repeat;
  background-size: cover;
  background-position: center;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: rgb(97, 100, 97);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo{
  font-size: 32px;
  color: beige;
  text-decoration: none;
  font-weight: 700;
}
.logo:hover {
  color: black;
  font-size: 25px;
  text-decoration: underline;
}

.navbar a{
  position: relative;
  font-size: 18px;
  color: aliceblue;
  text-decoration: none;
  margin-left: 40px;
 font-weight: 500;
}
.navbar a:hover{
  color: black;
  font-size: 25px;
  background-color: rgb(19, 27, 27);
  padding: 20px;
}
.awal {
  margin: 150px;
  color: black;
  font-size: 20px;
}
.awal p{
  width: 500px;
  text-align: justify;
}
.awal h1{
  padding-bottom: 10px;
}
img{
  float: right;
  width: 500px;
  height: 300px;
  border-radius: 50%;
}
.tombol p{
  border: solid;
  width: 150px;
  text-align: center;
  height: 50px;
  padding-top: 10px;
  margin-top: 10px;
  border-radius: 20px;
  background-color: rgb(134, 83, 83);
  color: aliceblue;
}
.tombol p a{
  color: aliceblue;
  text-decoration: none;
}

.tombol p:hover{
  border: solid;
  width: 150px;
  text-align: center;
  height: 50px;
  padding-top: 10px;
  margin-top: 10px;
  border-radius: 20px;
  background-color: rgb(190, 201, 35);
  color: aliceblue;
}